<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>科技竞赛平台</title>
    <!-- 引入vue.js,axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <!-- 引入element.ui-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- 引入css-->
    <link rel="stylesheet" href="../static/css/NavName.css">
    <link rel="stylesheet" href="../static/css/assignwork_list.css" type="text/css">
</head>

<body style="margin: 0; background: #F5F7FA">
    {% include 'NavMenu.html' %} 
    
    <div id="AssignworkList" style="width: 100%">
        <div class="buttonArea">
            <el-button type="primary" @click="selectExpert">为选中的作品分配专家</el-button>
        </div>

        <div class="tableArea">
            <el-table
                ref="multipleTable"
                :data="displayWork"
                tooltip-effect="light"
                style="width: 1000px;"
                @selection-change="whandleSelectionChange"
                @filter-change="test"
                >
                <el-table-column
                    type="selection"
                    width="40">
                </el-table-column>
                <el-table-column
                    type="index"
                    label="序号"
                    width="60">
                </el-table-column>
                <el-table-column
                    label="作品ID"
                    prop="work_id"
                    width="120"
                    column-key="work_id"
                    sortable>
                </el-table-column>
                <el-table-column
                    label="作品名称"
                    prop="title"
                    width="400"
                    column-key="title"
                    sortable
                    show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                    label="作品类别"
                    prop="work_type"
                    column-key="work_type"
                    :filters="typeFilters"
                    :filter-method="filterHandler"
                    width="200">
                </el-table-column>
                <el-table-column
                    label="作品领域"
                    prop="field"
                    column-key="field"
                    :filters="fieldFilters"
                    :filter-method="filterHandler"
                    >
                </el-table-column>
          </el-table>
        </div>

        <div style="width:100%; margin-top: 10px; text-align: center">
            <el-pagination
              @size-change="whandleSizeChange"
              @current-change="whandleCurrentChange"
              :current-page="currentWorkPage"
              :page-sizes="[10, 30, 100, totalWork]"
              :page-size="workPageSize"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalWork">
            </el-pagination>
        </div>

        <el-dialog
            title="可选专家"
            :visible.sync="dialogVisible"
            width="800px"
            :before-close="handleClose"
            v-loading="loading">
            <div style="width: 740px; margin:0 auto 0 auto">
                <el-table ref="multipleTable" 
                    :data="expertTableData" 
                    tooltip-effect="light" 
                    style="width: 740px"
                    max-height="100%"
                    @selection-change="ehandleSelectionChange">
                    <el-table-column type="selection" width="40px">
                    </el-table-column>
                    <el-table-column type="index" label="序号" width="60px">
                    </el-table-column>
                    <el-table-column 
                        label="专家姓名" 
                        prop="name" 
                        style="width:120px"
                        column-key="name"
                        sortable>
                    </el-table-column>
                    <el-table-column label="专家领域" prop="field" width="180px" :filters="fieldFilters" :filter-method="filterHandler">
                    </el-table-column>
                    <el-table-column 
                        label="专家邮箱" 
                        width="300px" 
                        prop="email"
                        column-key="email"
                        sortable 
                        show-overflow-tooltip>
                    </el-table-column>
                    <el-table-column class-name="expert_id" label="" prop="expert_id" width="40px">
                    </el-table-column>
                </el-table>
            </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="matchWorksAndExperts">确认分配</el-button>
        </span>
        </el-dialog>
    </div>

    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
            }
            return(0);
        }
        const ALL_WORK_TYPE = ['科技发明制作', '调查报告和学术论文'];
        const ALL_FIELD = ['A.机械与控制', 'B.信息技术', 'C.数理', 'D.生命科学', 'E.能源化工', 'F.哲学社会科学'];
        var assList = new Vue({
            el: '#AssignworkList',
            data: {
                dialogVisible: false,
                loading:false,

                workFilters: {
                    'work_type': ALL_WORK_TYPE,
                    'field': ALL_FIELD
                },

                workTableData: {{ worklist | safe }},
                filterWork: {{ worklist | safe }},
                currentWorkPage: 1,
                workPageSize: 10,

                expertTableData: {{ expertlist | safe }},
                totalExpert: 0,
                currentExpPage: 1,

                wmultipleSelection: [],
                emultipleSelection: [],

                typeFilters: [{ text: '科技发明制作', value: '科技发明制作' }, 
                    { text: '调查报告和学术论文', value: '调查报告和学术论文' }],

                fieldFilters: [{ text: 'A.机械与控制', value: 'A.机械与控制' }, { text: 'B.信息技术', value: 'B.信息技术' }, 
                    { text: 'C.数理', value: 'C.数理' }, { text: 'D.生命科学', value: 'D.生命科学' }, 
                    { text: 'E.能源化工', value: 'E.能源化工' }, { text: 'F.哲学社会科学', value: 'F.哲学社会科学' }]
            },
            computed: {
                displayWork: function () {
                    return this.filterWork.slice((this.currentWorkPage-1)*this.workPageSize,this.currentWorkPage*this.workPageSize);
                },
                totalWork: function () {
                    return this.filterWork.length;
                }
            },
            methods: {
                whandleSelectionChange(val) {
                    this.wmultipleSelection = val;
                    // console.log(this.wmultipleSelection["0"]['work_id']);
                },
                ehandleSelectionChange(val) {
                    this.emultipleSelection = val;
                },
                filterHandler(value, row, column) {
                    const property = column['property'];
                    return row[property] === value;
                },
                whandleSizeChange(val) {
                    this.workPageSize = val;
                },
                whandleCurrentChange(val) {
                    this.currentWorkPage = val;
                },
                selectExpert() {
                    if (this.wmultipleSelection.length > 0) {
                        this.dialogVisible = true;
                    }
                    else{
                        this.$message.error('请至少选择一个参赛作品！');
                    }
                },
                handleClose(done) {
                    this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
                },
                matchWorksAndExperts(){
                    this.loading = true;

                    var em_length = this.emultipleSelection.length;
                    if (em_length < 3) {
                        this.$message.error('请至少选择三名专家！');
                        this.loading = false;
                        return;
                    }

                    var wm_length = this.wmultipleSelection.length;
                    selected_work = [];
                    selected_expert = [];

                    for (var i = 0; i < wm_length; i++) {
                        selected_work.push(this.wmultipleSelection[i]['work_id'])
                    }
                    for (var i = 0; i < em_length; i++) {
                        selected_expert.push(this.emultipleSelection[i]['expert_id'])
                    }
                    // console.log(selected_work);
                    // console.log(selected_expert);
                    
                    this.$http
                    .post(
                        '../assign_expert/',
                        {'selected_work': selected_work,
                        'selected_expert': selected_expert,
                        'cpt_id': getQueryVariable('cpt_id')},
                        {headers: {'X-CSRFtoken':'{{ csrf_token }}'}}
                    )
                    .then(response => {
                        console.log(response);
                        if(response.body.Message == 0){
                            this.$message({message:'分配成功！', type:'success'});
                            window.open('../assign_work/?cpt_id='+getQueryVariable('cpt_id'), '_self');
                        }
                        else{
                            this.$message.error('分配失败！');
                        }
                        this.loading = false;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                        this.$message.error('分配失败！');
                        this.dialogVisible = false;
                        this.loading = false;
                    });
                },
                test(filters){
                    // console.log(this.workTableData);
                    this.filterWork = [];
                    var filtered;

                    if(filters['work_type']){
                        if(filters['work_type'].length == 0){
                            this.workFilters['work_type'] = ALL_WORK_TYPE;
                        }
                        else this.workFilters['work_type'] = filters['work_type'];
                    }
                    if(filters['field']){
                        if(filters['field'].length == 0){
                            this.workFilters['field'] = ALL_FIELD;
                        }
                        else this.workFilters['field'] = filters['field'];
                    }

                    for (var i = 0; i < this.workTableData.length; i++) {
                        filtered = 0;
                        for (var j = 0; j < this.workFilters['work_type'].length; j++) {
                            if (this.workTableData[i]['work_type'] == this.workFilters['work_type'][j]) {
                                filtered = 1;
                                break;
                            }
                        }

                        if (filtered == 1) {
                            for (var j = 0; j < this.workFilters['field'].length; j++) {
                                if (this.workTableData[i]['field'] == this.workFilters['field'][j]) {
                                    this.filterWork.push(this.workTableData[i])
                                    break;
                                }
                            }
                        }
                    }
                    //console.log(filters);
                    this.currentWorkPage = 1;
                    // console.log(this.workTableData);
                }
            },
            delimiters: ["{[", "]}"]
        });
        assList.totalExpert=assList.expertTableData.length;
        // console.log(assList.expertTableData);
    </script>
</body>

</html>