<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 引入Element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入cpt_init.css-->
    <link rel="stylesheet" href="..\static\css\CompetitionInit.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/NavName.css">

    <meta charset="UTF-8">
    <title>管理竞赛</title>

</head>
<body style="margin: 0; background: #F5F7FA">
    {%include 'NavMenu.html'%}
    <div id="app">
        <el-card class="boxCard">
            <div class="formArea">
                <el-form ref="form" :model="form" :rules="rules" hide-required-asterisk label-width="100px" label-position='labelPosition'>
                    {% csrf_token %}
                    <el-form-item label="竞赛开始时间" prop="init_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.init_date|date:"Y-m-d" }}" v-model="form.init_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="提交截止时间" prop="submit_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.submit_end_date|date:"Y-m-d" }}" v-model="form.submit_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="初审截止时间" prop="check_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.check_end_date|date:"Y-m-d" }}" v-model="form.check_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="初评截止时间" prop="review_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.review_end_date|date:"Y-m-d" }}" v-model="form.review_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="答辩结束时间" prop="defense_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.defense_end_date|date:"Y-m-d" }}" v-model="form.defense_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="竞赛终止时间" prop="finish_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="{{ cptDetail.finish_date|date:"Y-m-d" }}" v-model="form.finish_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <div class="buttonArea">
                        <el-button type="primary" @click="dialogVisible = true">确认修改</el-button>
                    </div>
                </el-form>
            </div>
        </el-card>

        <el-dialog title="确认" :visible.sync="dialogVisible" width="30%">
            <span>确认修改？</span>
            <span slot="footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click.once="onSubmit({{ cptDetail.id }}, 'form')">确认</el-button>
            </span>
        </el-dialog>
    </div>

    <script>
        var initDate = '{{ cptDetail.init_date|date:"Y-m-d" }}'
        var submitEndDate = '{{ cptDetail.submit_end_date|date:"Y-m-d" }}'
        var checkEndDate = '{{ cptDetail.check_end_date|date:"Y-m-d" }}'
        var reviewEndDate = '{{ cptDetail.review_end_date|date:"Y-m-d" }}'
        var defenseEndDate = '{{ cptDetail.defense_end_date|date:"Y-m-d" }}'
        var finishDate = '{{ cptDetail.finish_date|date:"Y-m-d" }}'

        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日

            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        var CptInit = new Vue ({
            el: '#app',
            data() {
                var initValidator = (rule, value, callback) => {
                    if (!(value == '')) {
                        if (value.Format("yyyy-MM-dd") < initDate) {
                            callback(new Error('只能延后'));
                        } else {
                            callback();
                        }
                    }
                };
                var submitValidator = (rule, value, callback) => {
                    if (!(value == '')) {
                        if (this.form.init_date == '') {
                            if (value.Format("yyyy-MM-dd") < initDate) {
                                callback(new Error('提交截止时间必须不早于竞赛开始时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < submitEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        } else {
                            if (value.Format("yyyy-MM-dd") < this.form.init_date.Format("yyyy-MM-dd")) {
                                callback(new Error('提交截止时间必须不早于竞赛开始时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < submitEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        }
                    }
                };
                var checkValidator = (rule, value, callback) => {

                    if (!(value == '')) {
                        if (this.form.submit_end_date == '') {
                            if (value.Format("yyyy-MM-dd") < submitEndDate) {
                                callback(new Error('初审截止时间必须不早于提交截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < checkEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        } else {
                            if (value.Format("yyyy-MM-dd") < this.form.submit_end_date.Format("yyyy-MM-dd")) {
                                callback(new Error('初审截止时间必须不早于提交截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < checkEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        }
                    }
                };
                var reviewValidator = (rule, value, callback) => {
                    if (!(value == '')) {
                        if (this.form.init_date == '') {
                            if (value.Format("yyyy-MM-dd") < checkEndDate) {
                                callback(new Error('初评截止时间必须不早于初审截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < reviewEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        } else {
                            if (value.Format("yyyy-MM-dd") < this.form.check_end_date.Format("yyyy-MM-dd")) {
                                callback(new Error('初评截止时间必须不早于初审截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < reviewEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        }
                    }
                };
                var defenseValidator = (rule, value, callback) => {
                    if (!(value == '')) {
                        if (this.form.init_date == '') {
                            if (value.Format("yyyy-MM-dd") < reviewEndDate) {
                                callback(new Error('答辩结束时间必须不早于初评截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < defenseEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        } else {
                            if (value.Format("yyyy-MM-dd") < this.form.review_end_date.Format("yyyy-MM-dd")) {
                                callback(new Error('答辩结束时间必须不早于初评截止时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < defenseEndDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        }
                    }
                };
                var finishValidator = (rule, value, callback) => {
                    if (!(value == '')) {
                        if (this.form.init_date == '') {
                            if (value.Format("yyyy-MM-dd") < defenseEndDate) {
                                callback(new Error('竞赛终止时间必须不早于答辩结束时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < finishDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        } else {
                            if (value.Format("yyyy-MM-dd") < this.form.defense_end_date.Format("yyyy-MM-dd")) {
                                callback(new Error('竞赛终止时间必须不早于答辩结束时间'));
                            } else {
                                if (value.Format("yyyy-MM-dd") < finishDate) {
                                    callback(new Error('只能延后'));
                                } else {
                                    callback();
                                }
                            }
                        }
                    }
                };
                return {
                    labelPosition: 'left',
                    dialogVisible: false,
                    form: {
                        submit_end_date: '',
                        check_end_date: '',
                        review_end_date: '',
                        defense_end_date: '',
                        finish_date: '',

                    },

                    rules: {
                        init_date: [
                            {type: 'date', required: true, validator: initValidator, trigger: 'blur'},
                        ],
                        submit_end_date: [
                            {type: 'date', required: true, validator: submitValidator, trigger: 'blur'},
                        ],
                        check_end_date: [
                            {type: 'date', required: true, validator: checkValidator, trigger: 'blur'},
                        ],
                        review_end_date: [
                            {type: 'date', required: true, validator: reviewValidator, trigger: 'blur'},
                        ],
                        defense_end_date: [
                            {type: 'date', required: true, validator: defenseValidator, trigger: 'blur'},
                        ],
                        finish_date: [
                            {type: 'date', required: true, validator: finishValidator, trigger: 'blur'},
                        ],
                    }
                };
            },
            methods: {
                onSubmit(val, formName) {
                    disable = true;
                    dialogVisible = false;
                    this.$refs[formName].validate((valid) => {
                        if(valid) {
                            var formFile = new FormData();

                            formFile.append('init_date', this.form.init_date.Format("yyyy-MM-dd"));
                            formFile.append('submit_end_date', this.form.submit_end_date.Format("yyyy-MM-dd"));
                            formFile.append('check_end_date', this.form.check_end_date.Format("yyyy-MM-dd"));
                            formFile.append('review_end_date', this.form.review_end_date.Format("yyyy-MM-dd"));
                            formFile.append('defense_end_date', this.form.defense_end_date.Format("yyyy-MM-dd"));
                            formFile.append('finish_date', this.form.finish_date.Format("yyyy-MM-dd"));
                            
                            axios
                                .post('../cptchange/cptchangepost/?cptid='+val, formFile)
                                .then(res=> {
                                    if(res.status == 200 && res.data.Message == 1){
                                        CptInit.$message({
                                        type:'info',
                                        message:'修改成功！'
                                        });
                                        window.open("/competitionlist/?selected=0","_self")
                                    }
                                    else{
                                        CptInit.$message({
                                        type:'info',
                                        message:'修改失败！'
                                        });
                                    }
                                })
                                .catch(function(error) {
                                    CptInit.$message({
                                        type:'info',
                                        message:'修改失败！'
                                        });
                                })
                        } else {
                            return false;
                        }
                    })
                    
                },
            }
        });

    
    </script>
</body>

</html>