<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>科技竞赛平台</title>
    <!-- 引入vue.js,axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <!-- 引入element.ui-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!-- 引入css-->
    <link rel="stylesheet" href="../static/css/NavName.css">
    <link rel="stylesheet" href="../static/css/CompetitionList.css" type="text/css">
</head>

<body style="margin: 0; background: #F5F7FA">
    {% include 'NavMenu.html' %} 

    <div id="CompetitionList" style="width: 100%">
        <div class="DisplayArea">
            <div class="TopArea">
                <div style="float: left">
                    <el-radio-group v-model="selected">
                        <el-radio-button label='0' onclick="window.open('/competitionlist?selected=0&order='+CptList.order, '_self')">全部比赛</el-radio-button>
                        <el-radio-button label='1' onclick="window.open('/competitionlist?selected=1&order='+CptList.order, '_self')">正在进行</el-radio-button>
                        <el-radio-button label='2' onclick="window.open('/competitionlist?selected=2&order='+CptList.order, '_self')">已结束</el-radio-button>
                        {% if useridentity == 3 %}
                        <el-radio-button label='3' onclick="window.open('/competitionlist?selected=3&order='+CptList.order, '_self')">未开始</el-radio-button>
                        {% endif %}
                    </el-radio-group>
                </div>
                <div style="float: right; margin-top: 14px">
                    <el-dropdown @command="changeRank">
                        <span style="color: #409EFF; font-size: 16px; cursor: pointer">
                            {[ RankWay ]}<i class="el-icon-sort"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="开始时间升序" onclick="window.open('/competitionlist?order=0&selected='+CptList.selected, '_self')">开始时间升序</el-dropdown-item>
                            <el-dropdown-item command="开始时间降序" onclick="window.open('/competitionlist?order=1&selected='+CptList.selected, '_self')">开始时间降序</el-dropdown-item>
                            <el-dropdown-item command="结束时间升序" onclick="window.open('/competitionlist?order=2&selected='+CptList.selected, '_self')">结束时间升序</el-dropdown-item>
                            <el-dropdown-item command="结束时间降序" onclick="window.open('/competitionlist?order=3&selected='+CptList.selected, '_self')">结束时间降序</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>

            <div class="ListArea">

                {% for i in contacts %}
                {% if i.status == 0 %}
                {% if selected == '0' or selected == '3' %}
                {% if useridentity == 3 %}
                <el-card class="UpcomeCompetitionCard">
                    {#                        身份判断#}
                    {#                        删除#}
                    {% if useridentity == 3 %}
                    <div class="CloseCompetitionCard">
                        <i class="el-icon-close" @click="DeleteCpt({{i.id}})"></i>
                    </div>
                    {% endif %}
                    <div class="WordBorder">
                        <div class="ErectWord">未开始</div>
                    </div>
                    <div style="float: left; width: 108px">
                        <el-image style="width: 108px; height: 80px; margin: 0px auto 0px 10px"
                            src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg" fit="cover">
                            <div slot="error" class="image-slot">
                                <i class="el-icon-picture-outline"></i>
                            </div>
                        </el-image>
                    </div>
                    <div style="float: left; width: 730px; margin-left: 40px">
                        <a href="/competitiondetail?id={{i.id}}" style="color: #303133; text-decoration: none">
                            <div style="font-size: 18px">{{ i.title }}</div>
                        </a>
                        <div style="font-size: 14px; color: #F56C6C; margin-top: 13px">
                            <span><i class="el-icon-time"></i></span>&nbsp;
                            <span>{{ i.init_date|date:"Y年m月d日" }}</span>&nbsp;
                            <span>~</span>&nbsp;
                            <span>{{ i.finish_date|date:"Y年m月d日" }}</span>
                        </div>
                        <div class="Abstract">
                            {{ i.abstract }}
                        </div>
                    </div>
                </el-card>
                {% endif %}
                {% endif %}
                {% elif i.status == 1 %}
                {% if selected == '0' or selected == '1' %}
                    <el-card class="OngoingCompetitionCard">
{#                        身份判断#}
                        <div class="WordBorder">
                            <div class="ErectWord">正在进行</div>
                        </div>
                        <div style="float: left; width: 108px">
                            <el-image
                                style="width: 108px; height: 80px; margin: 0px auto 0px 10px"
                                src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                                fit="cover">
                                <div slot="error" class="image-slot">
                                    <i class="el-icon-picture-outline"></i>
                                </div>
                            </el-image>
                        </div>
                        <div style="float: left; width: 730px; margin-left: 40px">
                                <a href="/competitiondetail?id={{i.id}}" style="color: #303133; text-decoration: none"><div style="font-size: 18px">{{ i.title }}</div></a>
                            <div style="font-size: 14px; color: #1989FA; margin-top: 13px">
                                <span><i class="el-icon-time"></i></span>&nbsp;
                                <span>{{ i.init_date|date:"Y年m月d日" }}</span>&nbsp;
                                <span>~</span>&nbsp; 
                                <span>{{ i.finish_date|date:"Y年m月d日" }}</span>
                            </div>
                            <div class="Abstract">
                                {{ i.abstract }}
                            </div>
                        </div>
                    </el-card>
                {% endif %}

                {% elif i.status == 2 %}
                {% if selected == '0' or selected == '2' %}

                    <el-card class="OutdatedCompetitionCard">
{#                        身份判断#}
                        <div class="WordBorder">
                            <div class="ErectWord">已结束</div>
                        </div>
                        <div style="float: left; width: 108px">
                            <el-image
                                style="width: 108px; height: 80px; margin: 0px auto 0px 10px"
                                src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                                fit="cover">
                                <div slot="error" class="image-slot">
                                    <i class="el-icon-picture-outline"></i>
                                </div>
                            </el-image>
                        </div>
                        <div style="float: left; width: 730px; margin-left: 40px">
                            <a href="/competitiondetail?id={{i.id}}" style="color: #909399; text-decoration: none"><div style="font-size: 18px; color: #909399">{{ i.title }}</div></a>
                            <div style="font-size: 14px; color: #909399; margin-top: 13px">
                                <span><i class="el-icon-time"></i></span>&nbsp;
                                <span>{{ i.init_date|date:"Y年m月d日" }}</span>&nbsp;
                                <span>~</span>&nbsp; 
                                <span>{{ i.finish_date|date:"Y年m月d日" }}</span>
                            </div>
                            <div class="Abstract">
                                {{ i.abstract }}
                            </div>
                        </div>
                    </el-card>

                {% endif %}

                {% endif %}
                {% endfor %}
            </div>

            <div style="margin: 25px auto; text-align: center">
                <el-pagination
                    @current-change="handleCurrentChange"
                    :current-page={{contacts.number}}
                    :page-size="6" 
                    layout="total, prev, pager, next, jumper"
                    :total={{total}}>
                </el-pagination>
            </div>
        </div>
    </div>

    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
            }
            return(0);
        }

        function NUM_TO_TEXT(order) {
            if (order == 1) {
                return '开始时间降序';
            }
            else if (order == 2) {
                return '结束时间升序';
            }
            else if (order == 3) {
                return '结束时间降序';
            }
            else {
                return '开始时间升序';
            }
        } 

        var CptList = new Vue({
            el: '#CompetitionList',
            data: {
                selected: getQueryVariable('selected'),
                order: getQueryVariable('order'),
                RankWay: NUM_TO_TEXT(getQueryVariable('order'))
            },
            methods: {
                changeRank(command) {
                    this.RankWay = command;
                },
                handleCurrentChange(val){
                    window.open("/competitionlist?order="+this.order+"&selected="+CptList.selected+"&page="+val,"_self");
                },
                DeleteCpt(val)
                {
                    this.$confirm('此操作将永久删除该比赛, 是否继续?', '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                    }).then(() => {
                        this.$http
                        .post('../deletecpt/',
                            {
                                id:val,
                            }, {
                                emulateJSON:true
                            })
                        .then(res=>{
                            console.log(res);
                            if(res.status==200 && res.body.Message == 1){
                                this.$message({
                                    type:'info',
                                    message:'删除成功！'
                                });
                                location.reload();
                            }
                            else{
                                this.$message.info("删除失败！");
                            }
                        })
                        .catch(err => {
                        console.error(err);
                        });
                    }).catch(() => {
                      this.$message({
                        type: 'info',
                        message: '已取消删除'
                      });
                    });
                }
            },
            delimiters: ["{[", "]}"]
        })
    </script>
</body>

</html>