<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- 引入Element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入cpt_init.css-->
    <link rel="stylesheet" href="..\static\css\CompetitionInit.css" type="text/css"/>

    <meta charset="UTF-8">
    <title>添加竞赛</title>
</head>
<body>
    {%include 'NavMenu.html'%}
    <div id="app">
        <el-card class="boxCard">
            <div class="formArea">
                <el-form ref="form" :model="form" :rules="rules" hide-required-asterisk label-width="100px" label-position='labelPosition'>
                    <el-form-item label="竞赛名称" prop="title">
                        <el-input v-model="form.title"></el-input>
                    </el-form-item>
                    <el-form-item label="竞赛摘要" prop="abstract">
                        <el-input type="textarea" v-model="form.abstract"></el-input>
                    </el-form-item>
                    <el-form-item label="竞赛详细信息" prop="detail">
                        <el-input type="textarea" v-model="form.detail"></el-input>
                    </el-form-item>
                    <el-form-item label="竞赛规则" prop="rule">
                        <el-input type="textarea" v-model="form.rule"></el-input>
                    </el-form-item>
                    <el-form-item label="竞赛开始时间" prop="init_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.init_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="提交截止时间" prop="submit_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.submit_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="初审截止时间" prop="check_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.check_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="初评截止时间" prop="review_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.review_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="答辩结束时间" prop="defense_end_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.defense_end_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="竞赛终止时间" prop="finish_date">
                        <el-col :span="11">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.finish_date" style="width: 100%;"></el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="上传缩略图">
                        <el-upload
                            class="previewPicUploader"
                            action=""
                            :show-file-list="false"
                            :on-success="handlePreviewPicSuccess"
                            :before-upload="beforePreviewPicUpload"
                            :auto-upload="false">
                            <img v-if="form.previewPicUrl" :src="form.previewPicUrl" class="previewPic">
                            <i v-else style="line-height: 80px" class="el-icon-plus previewPicUploaderIcon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="上传详情图">
                        <el-upload
                            class="detailPicUploader"
                            action=""
                            :show-file-list="false"
                            :on-success="handleDetailPicSuccess"
                            :before-upload="beforeDetailPicUpload"
                            :auto-upload="false">
                            <img v-if="form.detailPicUrl" :src="form.detailPicUrl" class="detailPic">
                            <i v-else style="line-height: 130px" class="el-icon-plus detailPicUploaderIcon"></i>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="上传附件">
                        <el-upload
                            action=""
                            :limit="1"
                            ref="uploadFile"
                            :show-file-list="true"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            :on-exceed="handleExceed"
                            :file-list="form.fileList"
                            :auto-upload="false">
                            <el-tooltip content="请上传1个文件或压缩包" placement="right">
                                <el-button type="primary">点击上传</el-button>
                            </el-tooltip>
                        </el-upload>
                    </el-form-item>
                    <div class="buttonArea">
                        <el-button>暂存</el-button>
                        <el-button type="primary" @click="onSubmit">创建</el-button>
                    </div>
                </el-form>
            </div>
        </el-card>
    </div>

    <script>
        new Vue ({
            el: app,
            data() {
                return {
                    labelPosition: 'left',

                    form: {
                        title: '',
                        abstract: '',
                        detail: '',
                        rule: '',
                        status: '',
                        init_date: '',
                        submit_end_date: '',
                        check_end_date: '',
                        review_end_date: '',
                        defense_end_date: '',
                        finish_date: '',

                        previewPicUrl: '',
                        detailPicUrl: '',
                        previewlPicList: [],
                        detailPicList: [],
                        fileList: [],
                    },

                    rules: {
                        title: [
                            {required: true, message: '不能为空', trigger: 'blur'},
                            {min: 1, max: 255, message:'长度小于255字符',trigger: 'blur'},
                        ],
                        abstract: [
                            {required: true, message: '不能为空', trigger: 'blur'},
                        ],
                        detail: [
                            {required: true, message: '不能为空', trigger: 'blur'},
                        ],
                        rule: [
                            {required: true, message: '不能为空', trigger: 'blur'},
                        ],
                        init_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ],
                        submit_end_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ],
                        check_end_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ],
                        review_end_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ],
                        defense_end_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ],
                        finish_date: [
                            {type: 'date', required: true, message: '不能为空', trigger: 'change'},
                        ]
                    }
                };
            },
            methods: {
                handlePreviewPicSuccess(res, file) {
                    this.previewPicUrl = URL.createObjectURL(file.raw);
                },
                beforePreviewPicUpload(file) {
                    const isJPG = file.type === 'image/jpeg';
                    if(!isJPG) {
                        this.$message.error('上传只能是 JPG 格式！')
                    }
                    return isJPG;
                },
                handleDetailPicSuccess(res, file) {
                    this.detailPicUrl = URL.createObjectURL(file.raw);
                },
                beforeDetailPicUpload(file) {
                    const isJPG = file.type === 'image/jpeg';
                    if(!isJPG) {
                        this.$message.error('上传只能是 JPG 格式！')
                    }
                    return isJPG;
                },
                handleSuccess(response, file, fileList) {
                    this.fileList = fileList;
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },
                handleExceed(files, fileList) {
                    this.$message.warning('当前限制选择 1 个文件');
                },
                beforeRemove(file, fileList) {
                    return this.$confirm('确定移除 ${ file.name } ？');
                },
                onSubmit() {
                    axios
                        .post("/cptformpost/", this.form)
                        .then(res => {
                            console.log(res);
                            if (res.status == 200) {
                                this.$message.info("成功！");
                            }
                        }).catch(err => {
                            console.log(err);
                        })
                    this.$refs.uploadFile.submit();
                },
            }
        });

    
    </script>
</body>

</html>