<div id="page" style="text-align: center">
    <div class="nav">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"
                 background-color="#1989FA" text-color="#fff" active-text-color="#A3D0FD">
            <el-menu-item index="1" class="navheader">科技竞赛平台</el-menu-item>
            <el-menu-item index="2" class="navmenu"><a href= "/competitionlist/?selected=0" style="text-decoration: none">竞赛</a></el-menu-item>
{#            身份判断#}
            {% if useridentity == 3 %}
                <el-menu-item index="3" class="navmenu"><a href= "/cptinit/" style="text-decoration: none">创建比赛</a></el-menu-item>
            {% endif %}
            {% if useridentity == 1 %}
                <el-menu-item index="3" class="navmenu">查看作品</el-menu-item>
            {% endif %}

{#            身份判断#}

            {% if useridentity == 0 %}
                <div class="navright">
                    <a href="/register" class="navother" style="color: white;text-decoration: none">注册</a>
                    <a href="/login" class="navother" style="color: white;text-decoration: none">登录</a>
                </div>
            {% else %}
                <div class="navright">
                    <a class="navother" style="color: white;text-decoration: none">{{ username }}</a>
                    <a class="navother" style="color: white;text-decoration: none">退出</a>
                </div>
            {% endif %}
        </el-menu>
    </div>
</div>

<script>
    var NavMenu = new Vue({
        el: '#page',
        data:{
            activeIndex:'2'
        }
    })
</script>
