<!DOCTYPE html>
<html lang="en">
<head>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
      <link rel="stylesheet" href="../static/css/NavName.css">

         <!-- 引入组件库 -->
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/element-ui/lib/index.js"></script>
      <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0px;font-size:14px;color: #606266;">
{% include "NavMenu.html" %}

<div id="app" style="margin-top: 0px;margin-left: 0px">


<div style="width: 140vh;min-width:1000px;margin: auto;margin-top: 5vh; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);padding: 2%;margin-bottom: 5vh;padding-bottom: 50px">

  <div style="color:#303133;font-weight: bold;font-size: 24px;margin-left:5%;margin-right:5%;margin-bottom:5%;margin-top:3%"><i class="el-icon-tickets" style="margin-right: 5px;padding-right: 5px;padding-bottom: 2px"></i>作品详细信息</div>


<el-collapse v-model="activeNames" @change="handleChange" style="margin: 5%">
  <el-collapse-item name="1">
      <div slot="title" style="font-size: 16px;font-weight: bold; color: #303133">
          作品基本信息
      </div>


      <div id="form" style="width: 85%; margin-left:5%;margin-top: 20px">
        <el-form  ref="receiveForm" :model="receiveForm" label-width="80px">
          <el-form-item prop="name" label="作品全称:" >
            <div>{{ workInfo.title }}</div>
          </el-form-item>

          <el-form-item label="作品类别:" prop="type">
              <div v-if="{{ workInfo.work_type }}== '1'">
                  科技发明制作
                </div>

                <div v-else>
                  调查报告和学术论文
                </div>
          </el-form-item>

          <el-form-item label="专业领域:" prop="field">
              <div v-if="{{ workInfo.field }} == '1'">
                  A.机械与控制（包括机械、仪器仪表、自动化控制、工程、交通、建筑等）
                </div>
                <div v-else-if="{{ workInfo.field }} == '2'">
                  B.信息技术（包括计算机、电信、通讯、电子等）
                </div>
                <div v-else-if="{{ workInfo.field }} == '3'">
                  C.数理（包括数学、物理、地球与空间科学等）
                </div>
                <div v-else-if="{{ workInfo.field }} == '4'">
                  D.生命科学(包括生物､农学､药学､医学､健康､卫生､食品等)
                </div>
                <div v-else-if="{{ workInfo.field }} == '5'">
                  E.能源化工（包括能源、材料、石油、化学、化工、生态、环保等）
                </div>
                <div v-else>
                  F.哲学社会科学（包括哲学、经济、社会、法律、教育、管理）
                </div>
          </el-form-item>

          <el-form-item prop="detail" label="总体说明:" >
              {{ workInfo.detail }}
          </el-form-item>
          <el-form-item label="创新点:" prop="innovation">
              {{ workInfo.innovation }}
          </el-form-item>
          <el-form-item label="关键词:" prop="keywords">
              {{ workInfo.keywords }}
          </el-form-item>
            {% if workInfo.work_type == 1 %}
                <el-form-item label="展示形式:" prop="way">
                {% for i in workInfo.labels.labels %}
                    <el-tag  effect="dark">i</el-tag>
                {% endfor %}
                </el-form-item>
            {% else %}<el-form-item label="调查方式:" prop="method">
                {% for i in workInfo.labels %}
             <el-tag  effect="dark">methodArray[i]</el-tag>
                {% endfor %}
            {% endif %}
            </el-form-item>
            </el-form>


      </div>

  </el-collapse-item>
  <el-collapse-item name="2">
      <div slot="title" style="font-weight: bold;font-size: 16px">
          作者信息
      </div>
    <div style="width: 85%;margin-left:5%;margin-top:20px;margin-bottom:20px">
      <el-table
        :data="tableData"
        border
        style="width: 100%">
        <el-table-column
          prop="name"
          label="姓名"
          width="180">
        </el-table-column>
        <el-table-column
          prop="stu_id"
          label="学号"
          width="180">
        </el-table-column>
        <el-table-column
          prop="degree"
          label="现学历">
        </el-table-column>
          <el-table-column
          prop="phone"
          label="联系电话">
        </el-table-column>
          <el-table-column
          prop="email"
          label="邮箱">
        </el-table-column>
      </el-table>
  </div>
  </el-collapse-item>

  <el-collapse-item name="3">
      <div slot="title" style="font-weight: bold;font-size: 16px">
          作品文档
      </div>
      {% for i in workAppendix %}
    <div v-if="{{ i.appendix_type}} == '1'" style="margin-left: 5%"><a href={{ i.file }} target="_blank">{{ i.filename }}</a></div>
      {% endfor %}
  </el-collapse-item>

  <el-collapse-item name="4">
      <div slot="title" style="font-weight: bold;font-size: 16px">
          作品图片
      </div>

<div style="padding-left: 25px">

    {% for i in workAppendix %}
<div v-if="{{ i.appendix_type}} == '2'" onclick="Ctor.handleClick('{{ i.file }}')" style="float: left;margin-left:20px;margin-bottom:20px;margin-top:20px">
      <el-image
      style="width: 140px; height: 140px"
      src={{ i.file}}
      fit="cover" ></el-image>
 </div>
 <el-dialog
  :visible.sync="dialogVisible1"
  fullscreen
  :before-close="handleClose">
  <el-image
    :src="temp_url"
    fit="cover" ></el-image>
</el-dialog>
{% endfor %}
</div>
  </el-collapse-item>
  <el-collapse-item name="5">
      <div slot="title" style="font-weight: bold;font-size: 16px">
          作品视频
      </div>
      {% for i in workAppendix %}
    <div v-if="{{ i.appendix_type}} == '3'" style="margin-left: 5%;margin-top: 3%;"><video src="{{ i.file }}" id="video" controls width="90%"></video></div>
  {% endfor %}
  </el-collapse-item>
</el-collapse>
<el-button type="success" @click="zipDownload()" style="margin-left: 5%">打包下载附件</el-button>
<el-button type="primary" @click="passWork()" style="margin-left: 60%">通过</el-button>
<el-button type="danger" @click="rejectWork()">打回</el-button>



</div>
</div>

</body>

<script>
  var wayArray=new Array()
    wayArray[1]="实物、产品"
    wayArray[2]="模型"
    wayArray[3]="图纸"
    wayArray[4]="磁盘"
    wayArray[5]="现场演示"
    wayArray[6]="图片"
    wayArray[7]="录像"
    wayArray[8]="样品"
  var methodArray=new Array()
    methodArray[1]="走访"
    methodArray[2]="问卷"
    methodArray[3]="现场采访"
    methodArray[4]="人员介绍"
    methodArray[5]="个别交谈"
    methodArray[6]="亲临实践"
    methodArray[7]="会议"
    methodArray[8]="图片、照片"
    methodArray[9]="书报刊物"
    methodArray[10]="统计报表"
    methodArray[11]="影视资料"
    methodArray[12]="文件"
    methodArray[13]="集体组织"
    methodArray[14]="自发"
    methodArray[15]="其他"

  var Main ={
    data() {
      return {
        dialogVisible1:false,
        activeNames: ['1','2','3','4','5'],
        tableData:{{ authorList|safe }},

        receiveForm: [
         { name: '',
           type: '',
           field:'',
           detail:'',
           innovation:'',
           keywords:'',}
        ],
          temp_url:'',

      };
    },
    methods: {
      handleClick(click_url){
        this.dialogVisible1=true;
        this.temp_url=click_url;
      },
      handleChange(activeNames){
        for( i in activeNames){
          if(i == '5'){
            return;
          }
        }
        console.log(activeNames)
        document.getElementById('video').pause();
      }


    }
  }

var Ctor = Vue.extend(Main)
Ctor = new Ctor().$mount('#app')
</script>

</html>